@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --thing: hsl(99, 15%, 56%);
  --text-color: hsl(0, 0%, 98%); /* fafafa */
  --secondary: hsl(99, 15%, 56%); /* #8aa07e */
  --primary-start: hsl(171, 45%, 18%); /* #19433c */
  --primary: hsl(171, 36%, 15%); /* 183430 */
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--text-color);
  background: linear-gradient(
      to bottom right,
      transparent,
      var(--primary)
    )
    var(--primary-start);
}


.site-text-bg {
  background-color: var(--text-color);
}

.site-primary-bg {
  background-color: var(--primary);
}

.site-secondary-bg {
  background-color: var(--secondary);
}

.card-border {
  border: 2px solid var(--secondary);
}

.site-primary {
  color: var(--primary);
}

.site-secondary {
  color: var(--secondary);
}

.site-secondary-border {
  border-color: var(--secondary);
}

.site-text {
  color: var(--text-color);
}

.flex .card {
  flex-basis: calc(25% - 1rem)
}