/* Remove browser defaults */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* Style App.js wrapper */
  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  /* Tab Container */
  .ChartTabs {
    width: 80%;
    height: auto;
    min-height: 400px;
    background: hsl(99, 15%, 56%);
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #e8f0f2;
    border-radius: 1rem;
  }
  
  .react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    width: 60%;
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #a6a660;
    border-radius: 1rem;
    padding-left: 0px;
  }
  
  .react-tabs__tab {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }
  
  .react-tabs__tab--selected {
    background:hsl(171, 45%, 18%);
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:hover {
    background: #ffeba2;
    color:black;
  }
  
  .react-tabs__tab:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  
  .react-tabs__tab:last-child {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
    font-size: 1.25rem;
    text-align: center;
  }